
<p>
  <th>

    <tr><%= @credential.website %></tr>&nbsp;
    <tr><%= @credential.username %></tr>&nbsp;
    <tr><%= @credential.password %></tr>&nbsp;
    <tr><%= @credential.tag %></tr>
  </th>
</p>
