.App {
  text-align: center;
}

.App-header {
  background-color: #2ea3f2;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-body {
  background-color: 000000;
  text-align: center;
}

.App-container {
  background-color: 000000;
  text-align: center;
}

.App-footer {
  background-color: #d8d9d9;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.field {
  text-align: center;
}

.right {
  text-align: right;
}
